.stTabs {
  background-color: rgba(0, 0, 0, 0);
}

#tabs-bui3-tab-0 {
  background-color: rgba(0, 0, 0, 0);
}

#tabs-bui3-tab-1 {
  background-color: rgba(0, 0, 0, 0);
}

#tabs-bui3-tab-2 {
  background-color: rgba(0, 0, 0, 0);
}

#tabs-bui3-tab-3 {
  background-color: rgba(0, 0, 0, 0);
}

header.css-1avcm0n {
  background-color: rgba(0,0,0,0);
}
